name: Nonhande Backend CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Check files (Debug)
        run: ls -R # Isto vai imprimir no log todas as pastas para tirarmos a teima

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Run Prisma Generate
        run: npx prisma generate
        env:
          DATABASE_URL: "mongodb://localhost:27017/unused"

      - name: Build
        run: npm run build